

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.015em;
  }
  
  /* Heading Styles */
  
  .headingBodyC {
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    padding-left: 20px;
  }
  
  @media (max-width: 768px) {
    .headingBodyC {
      font-size: 24px;
      line-height: 48px;
    }
  }
  
  @media (max-width: 480px) {
    .headingBodyC {
      font-size: 18px;
      line-height: 36px;
    }
  }
  
  /* Subtitle Styles */
  
  .subTitle {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    padding-left: 20px;
  }
  
  @media (max-width: 768px) {
    .subTitle {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
    .subTitle {
      font-size: 14px;
    }
  }
  
  /* Subparagraph Styles */
  
  .subParagraph {
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
  }
  
  @media (max-width: 768px) {
    .subParagraph {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .subParagraph {
      font-size: 14px;
    }
  }
  
  /* Sub Card Styles */
  
  .subCard {
    width: 45%;
    height: auto;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .subCard {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .subCard {
      width: 100%;
    }
  }
  
  /* Learn More Button Styles */
  
  .learnMoreButton {
    width: 120px;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    background: rgba(24, 160, 251, 1);
    border-radius: 10px;
    margin-left: 20px;
  }
  
  @media (max-width: 768px) {
    .learnMoreButton {
      width: 100px;
    }
  }
  
  @media (max-width: 480px) {
    .learnMoreButton {
      width: 80px;
    }
  }
  
  /* Sub Card Row Styles */
  
  .subCardRoww {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  
  