

  
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .main-con {
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    margin-top: 20px;
    padding: 20px;
  }
  
  .logo {
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: white;
    padding: 10px;
  }
  
  .headingMobile {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: left;
    color: white;
    padding-left: 20px;
  }
  
  .listChildParagraph {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: left;
    color: white;
    padding-left: 20px;
  }
  
  .arrageRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .RegisterLocatedFooter {
    width: 120px;
    height: 35px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    letter-spacing: -0.015em;
    text-align: center;
    background: rgba(24, 160, 251, 1);
    color: white;
    border-radius: 2px;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .loginLocatedFooter {
    width: 120px;
    height: 35px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    letter-spacing: -0.015em;
    text-align: center;
    background: rgba(24, 160, 251, 1);
    color: white;
    border-radius: 2px;
    margin-top: 10px;
  }
  
  .footerTwiterInstagraLogosLine {
    box-shadow: 2px 2px 2px black;
  }
  
  .lastlineSentance {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: left;
    color: white;
    padding: 12px;
  }
  
  .followstyle {
    font-family: Montserrat;
    font-size: 15px;
    color: white;
  }
  
  .followedLogos {
    border-radius: 20px;
    width: 19.14px;
    height: 15.56px;
    margin: 2px;
    margin-top: 15px;
  }
  
  .h {
    display: flex;
    flex-direction: row;
  }
  
  .rowchange {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5px;
  }
  
  /* Media Queries */
  
  @media (max-width: 768px) {
    .footerContainer {
      flex-direction: column;
    }}
    
    .main-con {
      padding: 10px;
    }
    
    .logo {
      font-size: 16px;
    }
    
    .headingMobile {
      font-size: 14px;
    }
    
    .listChildParagraph {
      font-size: 14px;
    }
    
    .RegisterLocatedFooter {
      width: 100px;
      height: 30px;
      font-size: 14px;
    }
    
    .loginLocatedFooter {
      width: 100px;
      height: 30px;
      font-size: 14px;
    }
  
  
  @media (max-width: 480px){
    .footerContainer {
      flex-direction: column;
    }}
    
    .main-con {
      padding: 5px;
    }
    
    .logo {
      font-size: 14px;
    }
    
    .headingMobile {
      font-size: 12px;
    }
    
    .listChildParagraph {
      font-size: 12px;
    }
    
    .RegisterLocatedFooter {
      width: 80px;
      height: 25px;
      font-size:10px;
    }